/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.button-width {
	width:100%;
}

.mdi-au:before {
    content: 'Au';
}

.mdi-ag:before {
    content: 'Ag';
}

.mdi-pt:before {
    content: 'Pt';
}

body > header {
    margin-bottom: 24px;
}

nav {
    box-shadow: none;
    -webkit-box-shadow: none;
}

#sidebar {
    padding: 0;
    height: auto;
    line-height: 64px;
    background-color: white;
}

.nav-wrapper {
    background-color: #F1F1F1;
}

.nav-wrapper > * {
    padding: 0 16px;
    display: inline-block;
    color: #666666;
}

nav .brand-logo {
    color: #666666;
}

#sidebar ul li {
    float: none;
    padding: 16px 0;
}

#sidebar ul li a {
    color: #999999;
}

#sidebar ul li a > * {
    display: block;
    text-align: center;
    line-height: 32px;
}

#sidebar ul li a i {
    font-size: 2em;
    font-weight: bold;
}

#total-summary {
    background-color: #F1F1F1;
    padding: 16px;
}

#total-value {
    font-size: xx-large;
}

#total-change {
    color: gray;
    font-size: small;
}

#market-status {
    margin: 24px 0;
}

#products-summary {
    margin: 0 16px;
}

#products-summary section.row {
    margin: 0;
}

#products-summary a {
    color: #666666;
}

.product-detail > * {
    margin: 8px 0;
}

.price {
    font-size: large;
}

#page-footer {
    background-color: #F1F1F1;
    padding: 8px 0;
}

#item-details th {
    text-align: right;
    font-weight: normal;
}

#item-details-total th {
    text-align: right;
}

@media only screen and (max-width : 600px) {
    body > header {
        margin-bottom: 0;
    }

    .nav-wrapper {
        background-color: white;
    }

    .row .col {
        padding: 0;
    }

    #total-summary a {
        color: #666666;
    }

    #market-status {
        padding: 0 16px;
    }
}
